.table {
    width: 100%;
  }
  .table tr:nth-of-type(odd) {
    background-color: #f2f2f2;
  }
  
  .table tr {
    display: flex;
    justify-content: space-between;
    padding: .6rem .8rem;
  }
  
  