.addprojectMainContainer{
    background-color: #e9ecef;
    padding: 20px 40px 50px 40px;

}


.addprojectContainer{
    border: 3px solid #ffba08;
    background-color: #ced4da;
    border-radius: 10px;
    padding-left: 10px;
    min-height: 400px;
}
.addprojectContainerButtonHeading{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.addprojectHeaderButton{
    background-color: #ffba08;
    text-align: center;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    margin: 10px 50px 0px 0px;
}

.addprojectHeading{
    font-weight: bold;
    margin: 10px 0px 0px 10px;
}

.addprojectPlusButton{
    background-color: white !important;
    text-align: center;
    min-width: 270px;
    min-height: 250px;
    outline: none;
    border: 2px solid #ffba08;
    border-radius: 10px;
}

.addprojectAllProjectsBtn{
    display: flex;
    max-width: 100%;
}