.productContainer{
    text-align: left;
    display: block;
    background-color: #adb5bd;
    width: auto;
    height: auto;
    text-align: center;
    padding: 0px 0px 50px 0px;
    margin: 20px 10px 20px 10px;
    
}

.productContainer img{
    width: 200px;
    height: 150px;
    border: 1px solid white;
    margin: 10px 20px 10px 20px;
}