.mainClass {
   width: 100% !important;
   display: flex !important;
   margin: 0 auto;
   justify-content: center;
   align-items: center;
   width: 15px;
}

.mainClass ul {

}

 .mainClass li {
   list-style: none;
   flex-grow: 1;
   position: 'relative';
}

.mainClass li img {

   /* filter: grayscale(100%); */
}

.mainClass :global(li.slick-active a img) {
   filter: grayscale(0%);
   border: 2px solid #4D4D4D;
   border-radius: 8px;
}

