/* .Maharashtra path {
    transition: all .3s;
}

.Maharashtra:hover path {
    fill: #ffd05b;
    transform: scale(1.05);
} */

.dilhiSvg svg{
    stroke: 'red' !important;
    stroke-width: 6 !important;
}