.react-select-container > [class$='control'] {
   height: 39px;
   border: 2px solid #ffd05b;
}
.react-select-container [class$='placeholder'] {
   color: #676060;
   font-family: 'roboto';
}

.react-select-container > [class$='control']:hover,
.react-select-container > [class$='control']:focus {
   outline: none;
   border: 2px solid #ffd05b;
}

@media only screen and (max-width: 600px) {
   .react-select-container > [class$='control'] {
      height: 40px;
      border: 2px solid #ffd05b;
   }
}

.css-1mx0ypb-MuiTypography-root:hover{
   color: #ffd05b !important;
}

.utility{
   border-radius: 50%;
   cursor: pointer;
   height: 35px;
   width: 35px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.utility:hover{
   background-color: #D9D9D9;
}