.App {
  height: auto;
  font-family: "Inter", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.drawModal {
  width: 100% !important;
  transform: translate3d(0, 0, 0);
  align-items: flex-end;
  display: flex;
  height: 100%;
  z-index: 999;
}

.drawContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  /* justify-content: center; */
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 11;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  overflow-y: hidden !important;
  -webkit-overflow-scrolling: touch;
}

.css-3pxmmn {
  z-index: 1000 !important;
}

.css-i4bv87-MuiSvgIcon-root {
  width: 1.2em !important;
  height: 1.2em !important;
}

input:focus {
  outline: none;
}

.cursor-pointer {
  cursor: pointer;
}

.portFolioSmallIcons {
  border-radius: 50%;
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.portFolioSmallIcons:hover {
  background-color: #d9d9d9;
}

.ant-picker-clear {
  opacity: 1 !important;
}

.dateRangePickerNpm {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 4px 24px 0 rgba(0, 69, 184, 0.15) !important;
  width: 100%;
}

.dateRangePickerNpm .react-daterange-picker__wrapper {
  border: 0 !important;
  padding: 0.7rem 0.5rem;
}

.dateRangePickerNpm .react-calendar--selectRange {
  border: 0 !important;
  padding: 0.7rem 0.5rem;
}

.story-mobile-image {
  display: none;
}

@media (max-width: 600px) {
  .story-image {
    display: none;
  }

  .story-mobile-image {
    display: flex;
  }

  .specialize-card {
    width: 200px;
    height: 200px;
  }
}

.team-card {
  transition: all 0.7s ease;
}

.team-card_socials {
  height: 0;
  opacity: 0;
  transition: all 0.7s ease-in-out;
}

.team-card_bio {
  height: 2.7rem;
  opacity: 0;
  transition: all 0.7s ease-in-out;
}

.team-card:hover {
  transform: translateY(-60px);
}

.team-card:hover img {
  box-shadow: 0px 0px 5px rgba(0, 0, 20, 0.3);
}

.team-card:hover .team-card_bio {
  opacity: 1;
}

.team-card:hover .team-card_socials {
  opacity: 1;
  height: auto;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }

  10% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  90% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes ping {
  0% {
    color: black;
    border: 2px solid black;
  }

  /* 49% {
    color: black;
    border: 2px solid black;
  }

  50% {
    color: white;
    border: 2px solid white;
  } */

  50% {
    color: white;
    border: 2px solid white;
  }

  100% {
    color: black;
    border: 2px solid black;
  }
}
